<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>慢病管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="layui/css/layui.css" rel="stylesheet">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">慢病管理系统</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <!-- 移动端显示 -->
            <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
                <i class="layui-icon layui-icon-spread-left"></i>
            </li>

        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
                <a href="javascript:;">
                    <img src="//unpkg.com/outeres@0.0.10/img/layui/icon-v2.png" class="layui-nav-img">
                    <!--登录用户名-->
                    <scan th:text="${session.user.getUsername}"></scan>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" class="modifiedPwd">修改密码</a></dd>
                    <dd><a th:href="@{/loginOut}">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-more-vertical"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item"><dd><a href="javascript:;" data-url="home" id="home">首页</a></dd></li>
                <li class="layui-nav-item layui-nav-itemed" th:if="${session.user.getRole()==0}">
                    <a class="" href="javascript:;">账号管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="user/list" id="userList">账号列表</a></dd>
                        <dd><a href="javascript:;" data-url="user/add">添加账号</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">档案管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="rhr/list">档案列表</a></dd>
                        <dd><a href="javascript:;" data-url="rhr/add">添加档案</a></dd>
                    </dl>
                </li>


            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class="layui-card layui-panel">
                <div class="layui-card-header">

                </div>
                <div class="layui-card-body">
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>
    <div class="layui-footer">
    </div>
</div>

<script src="/layui/layui.js"></script>
<script>
    //JS
    layui.use(['element', 'layer', 'util'], function(){
        var element = layui.element;
        var layer = layui.layer;
        var util = layui.util;
        $ = layui.$;
debugger
    openUrl=function(url){
        if(!url){
            layer.msg("无效的url");
        }else{
            $('.layui-body>div').load(url);
        }
    };
    //点击事件
    $('.layui-nav-tree dd a').click(function(){
        openUrl($(this).attr('data-url'));
    })
    //修改密码
    $('.modifiedPwd').click(function(){
        openUrl("user/modifiedPwd");
        })
    //点击首页
    $('#home').click();
    });
</script>

</body>
</html>